.repo-item {
    height: 120px;
    padding: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    box-shadow: 0px 5px 30px -5px gray;
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.repo-item h3 {
    color: indigo;
    text-decoration: none;
}

.repo-item .content span  {
    color: gray;
    font-size: 0.9em;
    font-weight: bold;
}

.repo-item .repo-link {
    display: flex;
    text-decoration: none;
    width: 80%;
}

.repo-item .content span i {
    color: red;
}

.repo-item .repo-type {
    width: 20%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

.repo-item .content {
    width: 60%;
    height: 100%;
    position: relative;
    padding-left: 1em;
}

.repo-item .actions {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.repo-item .actions span {
    margin-left: 5px;
    margin-right: 5px;
}

.repo-item .actions i {
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.repo-item .actions i:hover {
    font-size: 2em;
    color: black;
}